div {
  width: 200px;
  height: 100px;
  background-color: orange;
}

.red {
  color: red;
}

p {
  background-color: yellow;
}

td {
  border: 1px solid red;
  padding: 10px;
}

#abc {
  color: blue;
}